<a href="https://colab.research.google.com/github/suubkiim/Brightics/blob/master/Brightics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
meal_path='mealData_meal.csv'
cus_path='mealData_customer.csv'

In [0]:
meal = pd.read_csv(meal_path)
cus = pd.read_csv(cus_path)

In [5]:
meal.head()

    SELL_DATE  CUSTOMER_ID          BRAND       MENU  PRICE  QUANTITY
0  2018-01-02      2718043  Chef`sCounter       헬스기빙   6500         1
1  2018-01-02      2271646          우리미각면    의령온메밀국수   6000         1
2  2018-01-02      2577432          나폴리폴리  이탈리안포크라이스   6000         1
3  2018-01-02      2048428          우리미각면    의령온메밀국수   6000         1
4  2018-01-02      2554917        TakeOut         쌈밥   5500         1

In [6]:
cus.head()

   CUSTOMER_ID GENDER  BIRTH_YEAR
0      2111697      남        1969
1      3571091      남        1964
2      2111628      남        1967
3      2259400      남        1974
4      2010653      남        1975

In [7]:
meal.isnull().sum()

SELL_DATE      0
CUSTOMER_ID    0
BRAND          0
MENU           0
PRICE          0
QUANTITY       0
dtype: int64

In [0]:
meal = meal.dropna()

In [9]:
meal.isnull().sum()

SELL_DATE      0
CUSTOMER_ID    0
BRAND          0
MENU           0
PRICE          0
QUANTITY       0
dtype: int64

In [10]:
cus.isnull().sum()

CUSTOMER_ID    0
GENDER         0
BIRTH_YEAR     0
dtype: int64

In [0]:
nmeal = pd.merge(meal,cus)

In [12]:
nmeal.head()

    SELL_DATE  CUSTOMER_ID          BRAND  ... QUANTITY  GENDER  BIRTH_YEAR
0  2018-01-02      2718043  Chef`sCounter  ...        1       여        1988
1  2018-01-04      2718043  Chef`sCounter  ...        1       여        1988
2  2018-01-04      2718043        TakeOut  ...        1       여        1988
3  2018-01-05      2718043        KOREAN2  ...        1       여        1988
4  2018-01-08      2718043  Chef`sCounter  ...        1       여        1988

[5 rows x 8 columns]

In [13]:
nmeal.isnull().sum()

SELL_DATE      0
CUSTOMER_ID    0
BRAND          0
MENU           0
PRICE          0
QUANTITY       0
GENDER         0
BIRTH_YEAR     0
dtype: int64

In [0]:
nmeal=nmeal.drop(columns=['PRICE','QUANTITY'])

In [15]:
nmeal.head()

    SELL_DATE  CUSTOMER_ID          BRAND     MENU GENDER  BIRTH_YEAR
0  2018-01-02      2718043  Chef`sCounter     헬스기빙      여        1988
1  2018-01-04      2718043  Chef`sCounter     헬스기빙      여        1988
2  2018-01-04      2718043        TakeOut     콤보세트      여        1988
3  2018-01-05      2718043        KOREAN2  닭살굴소스볶음      여        1988
4  2018-01-08      2718043  Chef`sCounter    헬시라이트      여        1988

In [0]:
nmeal['SELL_DATE']=pd.to_datetime(nmeal['SELL_DATE'])

In [0]:
nmeal['MONTH']= nmeal['SELL_DATE'].dt.strftime('%m')

In [0]:
nmeal['DAY']= nmeal['SELL_DATE'].dt.strftime('%d')

In [0]:
nmeal['DOW']= nmeal['SELL_DATE'].dt.weekday_name

In [0]:
nmeal['YEAR']= nmeal['SELL_DATE'].dt.strftime('%y')

In [0]:
nmeal['AGE']= 2019-nmeal['BIRTH_YEAR']+1

In [22]:
nmeal.head()

   SELL_DATE  CUSTOMER_ID          BRAND     MENU  ... DAY       DOW YEAR AGE
0 2018-01-02      2718043  Chef`sCounter     헬스기빙  ...  02   Tuesday   18  32
1 2018-01-04      2718043  Chef`sCounter     헬스기빙  ...  04  Thursday   18  32
2 2018-01-04      2718043        TakeOut     콤보세트  ...  04  Thursday   18  32
3 2018-01-05      2718043        KOREAN2  닭살굴소스볶음  ...  05    Friday   18  32
4 2018-01-08      2718043  Chef`sCounter    헬시라이트  ...  08    Monday   18  32

[5 rows x 11 columns]

In [0]:
nmeal=nmeal.drop(columns=['SELL_DATE','BIRTH_YEAR'])

In [0]:
nmeal['CUSTOMER_ID']=nmeal['CUSTOMER_ID'].astype('int')
nmeal['YEAR']=nmeal['YEAR'].astype('int')

In [25]:
nmeal.dtypes

CUSTOMER_ID     int64
BRAND          object
MENU           object
GENDER         object
MONTH          object
DAY            object
DOW            object
YEAR            int64
AGE             int64
dtype: object

In [26]:
nmeal.head()

   CUSTOMER_ID          BRAND     MENU GENDER MONTH DAY       DOW  YEAR  AGE
0      2718043  Chef`sCounter     헬스기빙      여    01  02   Tuesday    18   32
1      2718043  Chef`sCounter     헬스기빙      여    01  04  Thursday    18   32
2      2718043        TakeOut     콤보세트      여    01  04  Thursday    18   32
3      2718043        KOREAN2  닭살굴소스볶음      여    01  05    Friday    18   32
4      2718043  Chef`sCounter    헬시라이트      여    01  08    Monday    18   32

In [0]:
train = nmeal.sample(frac=0.8)
valid = nmeal.drop(index=train.index)

In [0]:
train_x = train.drop(columns=['BRAND'])

In [0]:
train_x=pd.get_dummies(train_x)

In [30]:
train_x.head()

        CUSTOMER_ID  YEAR  AGE  ...  DOW_Thursday  DOW_Tuesday  DOW_Wednesday
594137      2718002    18   31  ...             1            0              0
765543      2139059    18   40  ...             1            0              0
843088      3161579    18   41  ...             0            0              0
334280      2677530    18   39  ...             0            0              0
754194      2718128    18   34  ...             0            0              1

[5 rows x 614 columns]

In [0]:
train_y=train['BRAND']

In [32]:
valid.dtypes

CUSTOMER_ID     int64
BRAND          object
MENU           object
GENDER         object
MONTH          object
DAY            object
DOW            object
YEAR            int64
AGE             int64
dtype: object

In [0]:
valid_x=valid.drop(columns=['BRAND'])
valid_y=valid['BRAND']

In [0]:
valid_x=pd.get_dummies(valid_x)

In [35]:
valid_x.head()

    CUSTOMER_ID  YEAR  AGE  ...  DOW_Thursday  DOW_Tuesday  DOW_Wednesday
1       2718043    18   32  ...             1            0              0
16      2718043    18   32  ...             0            1              0
19      2718043    18   32  ...             0            0              0
25      2718043    18   32  ...             0            0              1
42      2718043    18   32  ...             0            0              0

[5 rows x 614 columns]

Q1. year정보 integer? or nominal?

Q2. 하나하나 행의 시간 순서가 중요할까? (월, 일, 요일 정보는 중요한 것 같은데 2018년 트렌드와 2019트렌드가 다를까..!? 아님 사람(ID)의 성향 기반일까..)

Q3. 메뉴 정보가 중요하고, 바뀌는 메뉴가 있다면 input이 달라졌을 때 고정 모델에 들어가는 feature dimension, 정보가 달라질 수 있으므로 령경이가 한 것 처럼 메뉴를 일반화시켜 어떤 고정된 형식의 특성에 대입시킬 수 있는 전처리 모델이 따로 있어야 할듯..!

## Decision Tree

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
from sklearn import metrics

In [0]:
DTmodel = DecisionTreeClassifier(criterion='entropy',max_depth=20, max_leaf_nodes=15)

In [37]:
DTmodel.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=20,
                       max_features=None, max_leaf_nodes=15,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
DTmodel.score(train_x,train_y)*100

31.23728287765426

In [39]:
DTmodel.score(valid_x,valid_y)*100

31.43164219936979

왠지 모르겠는데 valid 데이터셋 랜덤 샘플링하는 과정에서 feature하나가 없어지는 현상 발생하는 경우가 있더라고...다시말하면...추출된 데이터에서 MENU 카테고리중 관찰된게 없으면 dummy 처리할때 반영이 안 돼서 dimension이 train 데이터셋과 안 맞는 현상이 발 생할 수도 있음!
-> 더더욱 령경이가 한 것처럼 메뉴를 좀 일반화해서 반영하는 것이 필요하다고 생각.

+ DT 성능 너무 별로..

##NaiveBayesian

In [0]:
from sklearn.naive_bayes import MultinomialNB

In [0]:
NBmodel = MultinomialNB()

In [42]:
%time NBmodel.fit(train_x, train_y.values.ravel())

CPU times: user 7.77 s, sys: 2.11 s, total: 9.87 s
Wall time: 8.67 s

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [43]:
NBmodel.score(train_x, train_y)*100

95.11161755689577

In [44]:
NBmodel.score(valid_x,valid_y)*100

95.04531131683724

오...성능 좋음

In [45]:
NBmodel2 = MultinomialNB(alpha=0.5)
NBmodel2.fit(train_x, train_y.values.ravel())
acc_model = NBmodel2.score(train_x,train_y)*100
print(acc_model)

95.13396793758504

In [47]:
acc_eval = NBmodel2.score(valid_x,valid_y)*100
print(acc_eval)

95.06729524414372

In [48]:
NBmodel3 = MultinomialNB(alpha=0.01)
NBmodel3.fit(train_x, train_y.values.ravel())
acc_model = NBmodel3.score(train_x,train_y)*100
print(acc_model)
acc_eval = NBmodel3.score(valid_x,valid_y)*100
print(acc_eval)

95.14459352840451
95.07755441022009

alpha = smoothing factor라는데, 블로그에서


스무딩은 동전의 각 면 즉, 0과 1이 나오는 가상의 데이터를 추가함으로서 추정한 모수의 값이 좀 더 0.5에 가까워지도록 하는 방법이다. 

라고 하지만 뭔 소린지 모르겠음...암튼 성능 나쁘지 않음

간단하게, alpha가 크면 더 완만해지고 모델의 복잡도가 낮아진다고함. alpha값이 성능 향상에 크게 기여하지 않지만 잘 조정하면 어느 정도 정확도를 높일 수 있다고 함..!

## RandomForest

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
RFmodel = RandomForestClassifier(max_depth=50, max_leaf_nodes=15)

In [51]:
RFmodel.fit(train_x,train_y.values.ravel())

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=50, max_features='auto', max_leaf_nodes=15,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [52]:
RFmodel.score(train_x, train_y)*100

49.18036390816558

In [53]:
RFmodel.score(valid_x,valid_y)*100

49.43794425853098

decision tree랑 max_depth가 달라서 뭐가 좋다고 아직 말하긴 좀 그렇지만,, parameter값들을 잘 조정해보면 좋을 듯!(시간상 시도는 brightics에서..)

## SVM classifier

In [0]:
from sklearn.svm import SVC

**kernel** = linear/rbf

*  커널 기법은 주어진 데이터를 고차원 특징 공간으로 사상해주는 것이다. 커널에는 Polynomial 커널, Sigmoid 커널, 가우시안 RBF 커널 등 종류가 많은데, 그 중 가장 성능이 좋아 자주 사용되는 것이 가우시안 RBF 커널이다. 

**gamma**=scale/auto

* gamma는 하나의 데이터 샘플이 영향력을 행사하는 거리를 결정한다. gamma는 가우시안 함수의 표준편차와 관련되어 있는데, 클수록 작은 표준편차를 갖는다. 즉, gamma가 클수록 한 데이터 포인터들이 영향력을 행사하는 거리가 짧아지는 반면, gamma가 낮을수록 커진다. 

**C**=regularization penalty 제약 조건

* C는 얼마나 많은 데이터 샘플이 다른 클래스에 놓이는 것을 허용하는지를 결정한다. 작을 수록 많이 허용하고, 클 수록 적게 허용한다. 다른 말로, C값을 낮게 설정하면 이상치들이 있을 가능성을 크게 잡아 일반적인 결정 경계를 찾아내고, 높게 설정하면 반대로 이상치의 존재 가능성을 작게 봐서 좀 더 세심하게 결정 경계를 찾아낸다. "난 데이터 샘플하나도 잘못 분류할 수 없어!"라면 C를 높여야한다. 반대로 "몇 개는 놓쳐도 괜찮아, 이상치들이 꽤 있을 수도 있으니까"라면 C를 낮춰야한다.

In [0]:
SVMmodel = SVC(C=3,kernel='rbf',gamma='auto')

In [0]:
SVMmodel.fit(train_x,train_y.values.ravel())

In [0]:
SVMmodel.score(train_x, train_y)*100

In [0]:
SVMmodel.score(valid_x, valid_y)*100

## Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
logit = LogisticRegression(C=0.1, multi_class='multinomial', solver='lbfgs',class_weight='balanced')

In [36]:
logit.fit(train_x,train_y)

LogisticRegression(C=0.1, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='multinomial', n_jobs=None,
                   penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
                   verbose=0, warm_start=False)

In [37]:
logit.score(train_x, train_y)

0.035587179919343216

In [38]:
logit.score(valid_x,valid_y)

0.03513520115293486

말도 안 되는..충격과 공포의  낮은 성능....